@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 80px;
  background: rgb(10, 22, 40);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 99;
}

.logo {
  display: flex;
  align-items: center;
}

.imglogo {
  width: 50px;
  height: auto;
  margin-right: 10px;
}

.textlogo {
  font-size: 1.5em;
  font-weight: 700;
  color: #fff;
}

.nav a {
  position: relative;
  text-decoration: none;
  color: #fff;
  font-size: 1.1em;
  font-weight: 500;
  margin-left: 40px;
}

.nav a:hover {
  color: rgb(170, 215, 255);
}

.nav a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -8px;
  width: 100%;
  height: 3px;
  background: rgb(170, 215, 255);
  border-radius: 5px;
  transform: scaleX(0);
  transition: transform 0.5s;
}

.nav a:hover::after {
  transform: scaleX(0.6);
}

body {
  position: relative;
  display: flex;
  height: 200vh;
  background: linear-gradient(
    45deg,
    rgb(33, 35, 44) 00%,
    rgb(189, 205, 255) 100%
  );
  background-repeat: no-repeat;
}

.content {
  position: absolute;
  text-align: center;
  margin: 150px 80px;
}

.teks {
  opacity: 0;
  animation: fadeIn 1s forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

.kurikulum {
  margin-top: 50px;
  margin-bottom: 20px;
  margin-left: 150px;
  margin-right: 150px;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 5px 5px 5px #000;

  opacity: 0;
  transform: translateX(-30px);
  transition: opacity 1s ease, transform 1s ease;
}

.kurikulum.visible {
  transform: translateX(0);
  opacity: 1;
}

.ekskul {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 150px;
  margin-right: 150px;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 5px 5px 5px #000;
  opacity: 0;
  transform: translateX(-30px);
  transition: opacity 1s ease, transform 1s ease;
}

.ekskul.visible {
  transform: translateX(0);
  opacity: 1;
}

.bk {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 150px;
  margin-right: 150px;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 5px 5px 5px #000;
  opacity: 0;
  transform: translateX(-30px);
  transition: opacity 1s ease, transform 1s ease;
}

.bk.visible {
  transform: translateX(0);
  opacity: 1;
}

.pengajaran {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 150px;
  margin-right: 150px;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 5px 5px 5px #000;
  opacity: 0;
  transform: translateX(-30px);
  transition: opacity 1s ease, transform 1s ease;
}

.pengajaran.visible {
  transform: translateX(0);
  opacity: 1;
}

.pelayanan {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 150px;
  margin-right: 150px;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  opacity: 0;
  transform: translateX(-30px);
  transition: opacity 1s ease, transform 1s ease;
}

.pelayanan.visible {
  transform: translateX(0);
  opacity: 1;
}
